.fontLibRegular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.fontLibBold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}
